<img src="<%=@profile.picture_url %>"></img>
<a href="<%=@profile.public_profile_url%>"><%=@profile.public_profile_url%></a>

<h1> <%=@profile.first_name%></h1>
<h1> <%=@profile.last_name%></h1>
<h1> <%=@profile.location%></h1>
<h1> <%=@profile.headline %></h1>
<h1> <%=@profile.industry %></h1>
<h1> <%=@profile.summary %></h1>
<h1> <%=@profile.num_connections %></h1>

<h1> <%=@profile.distance %></h1>
